/* Selector Universal */

*{
    padding: 0 auto;
    margin: 0 auto;
}

/* Selector Id */
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: #06283D;
    max-width: 0 auto;
    
}

#encabezado{
    height: 10%;
    background-color: #256D85;
    margin: 1em auto;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu{
    height: 4%;
    background-color: #47B5FF;
    margin: 1em auto;
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#seccion{
    height: 70%;
    width: 61%;
    background-color: brown;
    margin: 0.5em;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: rgb(224, 152, 243);
    margin: 0.5em;
    float: right;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#pie{
    height: 5%;
    width: 80%;
    background-color: #47B5FF;
    border-radius: 1em;
    margin-top: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

/* Selector de class*/

.texto{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
    margin: 15px;
}

.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
    margin-top: 20px;
}

.imagenes{
    display: block;
    border: 1px solid rgba(0, 37, 249, 0.592);
    margin-left: 4%;
    width: 200px;
    margin-left: auto;
}

/* Selector de etiqueta */

ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}

h1{
    text-align: center;
    margin: 20px;
    
}
